::-webkit-scrollbar{
    display: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    margin: 0;
}

.heading {
    background: #2d71b0ba;
    color: #f6f2f2;
    text-align: center;
    font-family: Cormorant SC,serif;
    font-family: Edu NSW ACT Foundation,cursive;
    position: sticky;
    top: 0;
    padding: .5% .5% .5% 5%;
    z-index: 3
}

.flex {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem
}

.flex>div {
    height: 180px;
    margin: 1%;
    background: #4c77986b;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 2px 2px 8px 2px grey;
    max-width: 380px
}

.flex > div .nP{
    height: 75px;
    overflow: scroll;
}


/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
    .flex {
        grid-template-columns:repeat(2,1fr)
    }
}

@media (min-width: 900px) {
    .flex {
        grid-template-columns:repeat(3,1fr)
    }
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 3;
    padding: .1%;
    color: #434343
}

.new {
    position: fixed;
    bottom: 10%;
    right: 10%;
    z-index: 3;
    width: 7%;
    height: 14%;
    border: none;
    border-radius: 50%;
    background: #2d71b0ba;
    color: #f8fcf8;
    font-size: xx-large;
    padding-bottom: .5%
}

.b3{
    position: relative;
    left: 80%;
    bottom: 15%;
}

.nH{
    padding-left: 2%;
    font-family: 'Edu NSW ACT Foundation', 'cursive';
    font-weight: 600;
}

.nP{
    padding-left: 4%;
    font-family: 'Edu NSW ACT Foundation', 'cursive';
    font-weight: 100;
}

.new:hover {
    background: #2d71b0ba;
    color: #fff
}

.pop-box {
    position: fixed;
    left: 30%;
    top: 30%;
    background: #386b9bba;
    text-align: center;
    border: 1px solid grey;
    width: 40%;
    border-radius: 15px;
    box-shadow: 1px 1px 4px 2px #575757;
    z-index: 2
}

.pop-box input,textarea {
    font-size: 14px;
    border-radius: 6px;
    padding: 5px 10px;
    border: 2px solid #dee1e2;
    color: #0e0e10;
    background: #d8dbdc;
    display: block;
    width: 90%;
    margin: 3%;
    height: 36px
}

.pop-box textarea{
    margin: 3%;
    height: 100px;
}

.pop-box .b1 {
    position: relative;
    left: 38%;
    margin: 3%;
    background: rgb(255 255 255);
    color: #000b29;
}

.index{
    height: 0;
    position: relative;
    left: 97%;
    font-size: xx-small;
    
}